.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.category__title {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.grid-item {
    width: 200px;
    text-align: center;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
    /* Thêm transition để hiệu ứng mượt mà */
}

.grid-item img:hover {
    transform: scale(1.1);
    /* Phóng to ảnh lên 110% khi hover */
}

.grid-item p {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
    font-weight: 700;
    cursor: pointer;
}

.grid-item p:hover {
    color: #1E3C72;
}

@media (max-width: 768px) {
    .grid-item {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .grid-item {
        width: 100%;
    }
}